
/*Common*/



/*Header Top*/

header {
    width: 100%;
    background-color: #f8f9fa;
    height: 4.375rem;
}

.header-top {
    line-height: 4.375rem;
}

/*Menu Sinistra"*/

#nav-sx {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34;
    color: #c7cdd2;
}

/*Header Bottom*/

.header-bottom {
    background-color: #1b72e8;
    color: #c7cdd2;

}

.badge {
    border-radius: 1.25rem;
}

/*Main*/