/*Common*/

body{
    background-color: aliceblue;
}

/*Header*/

.fa-bell{
color: var(--bs-warning);
}

header{
    background-color: #f6f6f6;
    height: 4.375rem;
}

#search{
    background-color: #e5e5e5;
}

.img-mobile {
    width: 2.8125rem;
    height: 2.8125rem;
}