/*Common*/

body{
    font-family: 'Roboto', sans-serif;
}

/*Header*/

.fa-bell{
color: var(--bs-warning);
}

header{
    background-color: #f6f6f6;
    height: 4.375rem;
}

#search{
    background-color: #e5e5e5;
}

.img-mobile {
    width: 2.8125rem;
    height: 2.8125rem;
}

/*Aside*/
aside {
    background-image: url(../img/sidebar-bg.png);
    background-color: #051e34 ;
}

aside li:hover {
    background-color: #535050;;
}

.h-bottom {
    background-color: #1b72e8;
    height: 10rem;
}


/*Media Queries*/

@media screen and (min-width: 5rem) {
    .offcanvas {
        width: 62.5rem;
    }
}